li {
    list-style-type: none;
  }

a { 
  color: inherit;
  text-decoration: none;
}

:root{
    --color1:#003D73;
    --color11:#00549e;
    --color2:#C05640;
    --color22:#d55c44;
    --сolor3: #0878A4;
    --color4: #EDD170;
    --color44: #f4df92;
    --color5: #1ECFD6;
    --back: #343a40;
    --backhv: #434b53;
  }

footer, section{
    padding: 100px 0;
  }

header, footer{
    background: var(--back);
}

/* Текст внутри текста */

.text-inside {
  font-size: 25px;
}
.text-inside:hover {
  font-size: 25px;
  color: var(--color11);
}

/* Аккордеон */

.accordion-p {
  font-size: 16px;
  color: #ffffff8c;
}
.accordion-p:hover {
  color: white;
  font-size: 16px;
}
.accordion-body{
  background-color: var(--back);
  border-radius: 5px;
}

.accordion-button:not(.collapsed) {
  color: var(--bs-black);
  background-color: var(--bs-white);
}

/* Таблица */

.pagination > li > a
{
    background-color: white;
    color: black;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #5a5a5a;
    background-color: #eee;
    border-color: #ddd;
}

.pagination > .active > a
{
    color: black;
    background-color: var(--color4) !Important;
    border: solid 1px var(--color4) !Important;
}

.pagination > .active > a:hover
{
    color: black;
    background-color: var(--color44) !Important;
    border: solid 1px var(--color44);
}

td, th{
  text-align: center;
  width: 500px;
  height: 50px;
}
.table-acc{
  --bs-table-color:white;
  --bs-table-bg: var(--color1);
  --bs-table-border-color: var(--color3);
  --bs-table-striped-bg: var(--color1);
  --bs-table-striped-color: white;
  width: 100%;
  word-break: break-all;
}

/* Форма */

form {
  padding: 0 5px;
}
.form-class-active {
  background-color: var(--сolor3); 
  color: white; 
  border-width: 2px;
  border-color: black;
  border-radius: 4px;
 }
.form-class-active:hover {
  background-color: var(--color1); 
  color: white; 
  border-width: 2px;
  border-color: black;
  border-radius: 4px;
 }
 .form-class-none {
  background-color: rgb(108, 108, 108);
  color: white; 
  border-width: 2px;
  border-color: black;
  border-radius: 4px;
 }
 .form-label{
  margin-right: 10px;
  border-radius: 5px;
  min-width: 100px;
  max-width: 100px;
  font-size: 18px;
  color:rgba(var(--bs-secondary-rgb));
}

/* Главный шрифт */
.fixed-font-size{
  font-size: 16px;
}
/* Кнопка фильтрации */

.btn-filter {
  min-width: 200px;
  max-width: 200px;
  color: var(--bs-white);
  background-color: var(--back);
  margin: 0 auto;
  padding: 8px 30px;
  font-size: 16px;
  border-radius: 0.375em;
}
.btn-filter:hover {
  min-width: 200px;
  max-width: 200px;
  color: var(--bs-white);
  background-color: var(--backhv);
  margin: 0 auto;
  padding: 8px 30px;
  font-size: 16px;
  border-radius: 0.375em;
}

/* Кнопка авторизации */

.btn-login{
  min-width: 100px;
  max-width: 200px;
  color: var(--bs-white);
  background-color: var(--color2);
  margin: 0 auto;
  padding: 8px 30px;
  font-size: 16px;
  border-radius: 0.375em;
}
.btn-login:hover{
  min-width: 100px;
  max-width: 200px;
  color: var(--bs-white);
  background-color: var(--color1);
  margin: 0 auto;
  padding: 8px 30px;
  border-radius: 0.375em;
}

/* Главное меню */
.btn-ls{
  min-width: 200px;
  max-width: 200px;
  color: var(--bs-white);
  background-color: var(--color2);
  margin: 0 auto;
  padding: 8px 30px;
}
.btn-ls:hover{
  min-width: 200px;
  max-width: 200px;
  color: var(--bs-white);
  background-color: var(--color1);
  margin: 0 auto;
  padding: 8px 30px;
}
.btn-rs{
  min-width: 200px;
  max-width: 200px;
  color: var(--bs-white);
  background-color: var(--color1);
  margin: 0 auto;
  padding: 8px 30px;
  
}
.btn-rs:hover{
  min-width: 200px;
  max-width: 200px;
  color: var(--bs-white);
  background-color: var(--color2);
  margin: 0 auto;
  padding: 8px 30px;
}

/* Цвет */
.color1{
  color: var(--color1);
}
.color2{
  color: var(--color2);
}
.bgcolor1{
  background-color: var(--color1);
}
.bgcolor2{
  background-color: var(--color2);
}

/* Секции */
.about{
  background-color: #dedede;
}
.about i{
  font-size: 50px;
  color: var(--color2)
}
.line{
  width: 400px;
  height: 3px;
  background-color: var(--color1);
  margin: 15px auto 30px;
}