html{
  position: relative;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  height: 100%;
}

table{ 
  overflow: hidden; 
  border-radius: 50px;
  box-shadow: 0px 0px 8px 5px var(--accent);
}​

body{
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  min-height:100%;
  margin: 0;
  padding: 0;
}

li {
    list-style-type: none;
  }

a { 
  color: inherit;
  text-decoration: none;
}

/* Боковое меню */

#menu {
box-shadow: 10px 5px 5px var(--accent);
border-radius: 0 100px 100px 0;
position: fixed;
top: 0;
left: 0px;
width: 270px;
height: 100%;
padding: 50px 30px;
text-align: center;
background: linear-gradient(to bottom, #051937, #082858, #013e62, #004d7a);
}

#menu ul {
  padding: 0;
  margin-top: 30px;
}
#menu ul li {
list-style-type:none;
}

#menu ul li a {
display: block;
font-weight: 900;
line-height: 50px;
transition: all .3s ease;
text-decoration: none;
text-transform: uppercase;
color: white;
border-top: 1px solid #eee;
}

#menu ul li a.active {
display: block;
font-weight: 900;
line-height: 50px;
transition: all .3s ease;
text-decoration: none;
text-transform: uppercase;
color: var(--accent);
border-top: 1px solid #eee;
}
#menu ul li a.active:hover {
display: block;
font-weight: 900;
line-height: 50px;
transition: all .3s ease;
text-decoration: none;
text-transform: uppercase;
color: var(--dark_accent);
border-top: 1px solid #eee;
}

#menu ul li a:hover {
  letter-spacing: 1px;
  color: rgb(190, 190, 190);
}

:root{
    --dark_pr:#2e5d8b;
    --pr:#336699;
    --accent:#778D45;
    --dark_accent:#344C11;
    --back: #111f28;
  }

footer, section{
    padding: 100px 0;
  }
footer{
    padding: 30px;
    background: linear-gradient(to bottom, #111f28, #01314c, #013d61, #004d7a)
  }

header{
    background: #0d3045;
}


/* Главная страница */
.hello{
  font-size: 18px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.cap{
  color: var(--accent);
}
.cap:hover{
  color: var(--dark_accent);
}

/* Сообщение об ошибке */
.alert-error {
  color: red !important;
  background-color: #ffd4d4 !important;
  border: 1px solid #a94442 !important;
  padding: 10px !important;
  margin-bottom: 10px !important;
}

/* Таблица */

.pagination > li > a {
    background-color: var(--pr);
    color: white;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
    color: #5a5a5a;
    background-color: #eee;
    border-color: #ddd;
}

.pagination > .active > a
{
    color: white;
    background-color: var(--accent) !Important;
    border: solid 1px var(--back) !Important;
}

.pagination > .active > a:hover
{
    color: white;
    background-color: var(--accent) !Important;
    border: solid 1px var(--back);
}

td, th{
  text-align: center;
  width: 500px;
  height: 50px;
}


/* Форма */

form {
  padding: 0 5px;
}
.form-class-active {
  background-color: var(--сolor3); 
  color: white; 
  border-width: 2px;
  border-color: black;
  border-radius: 4px;
 }
.form-class-active:hover {
  background-color: var(--dark_pr); 
  color: white; 
  border-width: 2px;
  border-color: black;
  border-radius: 4px;
 }
 .form-class-none {
  background-color: rgb(108, 108, 108);
  color: white; 
  border-width: 2px;
  border-color: black;
  border-radius: 4px;
 }
 .form-label{
  margin-right: 10px;
  border-radius: 5px;
  min-width: 100px;
  max-width: 100px;
  font-size: 18px;
  color:rgba(var(--bs-secondary-rgb));
}

/* Главный шрифт */
.fixed-font-size{
  font-size: 18px;
}
/* Кнопка фильтрации */

.btn-filter {
  min-width: 200px;
  max-width: 200px;
  color: var(--bs-white);
  background-color: var(--backhv);
  margin: 0 auto;
  padding: 8px 30px;
  font-size: 18px;
  border-radius: 0.375em;
}
.btn-filter:hover {
  min-width: 200px;
  max-width: 200px;
  color: var(--bs-white);
  background-color: var(--backhv);
  margin: 0 auto;
  padding: 8px 30px;
  font-size: 18px;
  border-radius: 0.375em;
}

/* Кнопка авторизации */

.btn-login{
  min-width: 100px;
  max-width: 200px;
  color: var(--bs-white);
  background-color: var(--accent);
  margin: 0 auto;
  padding: 8px 30px;
  font-size: 16px;
  border-radius: 0.375em;
}
.btn-login:hover{
  min-width: 100px;
  max-width: 200px;
  color: var(--bs-white);
  background-color: var(--dark_accent);
  margin: 0 auto;
  padding: 8px 30px;
  border-radius: 0.375em;
}

/* Главное меню */
.btn-ls{
  min-width: 200px;
  max-width: 200px;
  color: var(--bs-white);
  background-color: var(--accent);
  margin: 0 auto;
  padding: 8px 30px;
}
.btn-ls:hover{
  min-width: 200px;
  max-width: 200px;
  color: var(--bs-white);
  background-color: var(--dark_accent);
  margin: 0 auto;
  padding: 8px 30px;
}
.btn-rs{
  min-width: 200px;
  max-width: 200px;
  color: var(--bs-white);
  background-color: var(--dark_pr);
  margin: 0 auto;
  padding: 8px 30px;
  
}
.btn-rs:hover{
  min-width: 200px;
  max-width: 200px;
  color: var(--bs-white);
  background-color: var(--accent);
  margin: 0 auto;
  padding: 8px 30px;
}

/* Цвет */
.color-white{
  color: white;
}
.color-accent{
  color: var(--accent);
}
.bgcolor1{
  background-color: var(--dark_accent);
}
.bgcolor2{
  background-color: var(--accent);
}

/* Секции */
.about{
  background-color: var(--back);
}
.about i{
  font-size: 50px;
  color: var(--color2)
}
.line{
  width: 300px;
  height: 3px;
  background-color: white;
  margin: 15px auto 30px;
}

/* Footer */
footer{
  height: 200px;
}
footer .line{
  width: 800px;
  height: 1px;
  background-color: white;
  margin: 15px auto 30px;
}

.a-footer{
  color: white;
  margin: 0 30px;
}
.a-footer:hover {
  color: rgb(190, 190, 190);
}