{% extends "base.html" %}
{% load static %}

{% block content %}
    <div align="center">  
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <p>Владелец | {{name}}</p>
            <div class='form-error'>{{ form.non_field_errors }}</div>
            {% for f in form %}
                <p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}</label>{{ f }}</p>
                <div class="form-error">{{ f.errors }}</div>   
            {% endfor %}
        <p><button type="submit">Сохранить</button></p>
        </form>
    </div>
{% endblock content %}


