{% extends "base.html" %}

{% block content %}

<section class="about d-flex min-vh-100">
    <div class="container mt-auto mb-auto">
        <div class="row mb-5">
            <div class="col-3"></div>
            <div class="col-9">
                <form action="" class="color-white text-center" method="GET">
                    {% if msg != "Выберите дату" %}
                        <h5 class="text-danger mb-4">{{msg}}</h5>
                    {% else %}
                        <h5 class="mb-4">{{msg}}</h5>
                    {% endif %}
                    <div class='text-danger'>{{ form.non_field_errors }}</div>
                    {% for m in form %}
                    <p><label class="form-label" for="{{m.id_for_label}}">{{m.label}}</label>{{m}}</p>
                    <div class="text-danger">{{ m.errors }}</div>  
                    {% endfor %}
                    <p><button type="submit" class="btn btn-login btn-sm">Найти</button></p>
                    <a href="{% url "users:stat" %}"><button type="button" class="btn btn-secondary btn-sm">
                        Сбросить фильтр
                    </button></a>
                </form>
            </div>
        </div>
            
        <div class="row">
            <div class="col-3"></div>
            <div class="col-9">
                {{chart1|safe}}
            </div>
        </div>
        <div class="row" style="margin-top: 50px">
            <div class="col-5"></div>
            <div class="col-5  text-end">
                {{chart|safe}}  
            </div>
            <div class="col-2"></div>
        </div>
        <div class="row" style="margin-top: 50px">
            <div class="col-3"></div>
            <div class="col-9 color-white text-center fixed-font-size">
                <p>Здесь будут рекомендации и расписанная статистика ddddddddddddddddddddddddddddddddddddddddddddddddddпо тратам</p>
                <p>Здесь будут рекомендации и расписанная статистика по тратам</p>
                <p>Здесь будут рекомендации и расписанная статистика по тратам</p>
                <p>Здесь будут рекомендации и расписанная статистика по тратам</p>
                <p>Здесь будут рекомендации и расписанная статистика по тратам</p>
                <p>Здесь будут рекомендации и расписанная статистика по тратам</p>
                <p>Здесь будут рекомендации и расписанная статистика по тратам</p>
                <p>Здесь будут рекомендации и расписанная статистика по тратам</p>
                <p>Здесь будут рекомендации и расписанная статистика по тратам</p>
                <p>Здесь будут рекомендации и расписанная статистика по тратам</p>
                <p>Здесь будут рекомендации и расписанная статистика по тратам</p>
                <p>Здесь будут рекомендации и расписанная статистика по тратам</p>
                <p>Здесь будут рекомендации и расписанная статистика по тратам</p>
                <p>Здесь будут рекомендации и расписанная статистика по тратам</p>
                <p>Здесь будут рекомендации и расписанная статистика по тратам</p>
                <p>Здесь будут рекомендации и расписанная статистика по тратам</p>
                <p>Здесь будут рекомендации и расписанная статистика по тратам</p>
                <p>Здесь будут рекомендации и расписанная статистика по тратам</p>
                <p>Здесь будут рекомендации и расписанная статистика по тратам</p>
                <p>Здесь будут рекомендации и расписанная статистика по тратам</p>
                <p>Здесь будут рекомендации и расписанная статистика по тратам</p>
               
            </div>
        </div>
    </div>
</section>

{% endblock content %}




