{% extends "base.html" %}

{% block content %}

<section class="about d-flex min-vh-100">
    <div class="container mt-auto mb-auto">
        <div class="row mb-5">
            <div class="col-3"></div>
            <div class="col-9">
                <form action="" class="color-white text-center" method="GET">
                    {% if msg != "Выберите дату" %}
                        <h5 class="text-danger mb-4">{{msg}}</h5>
                    {% else %}
                        <h5 class="mb-4">{{msg}}</h5>
                    {% endif %}
                    <div class='text-danger'>{{ form.non_field_errors }}</div>
                    {% for m in form %}
                    <p><label class="form-label" for="{{m.id_for_label}}">{{m.label}}</label>{{m}}</p>
                    <div class="text-danger">{{ m.errors }}</div>  
                    {% endfor %}
                    <p><button type="submit" class="btn btn-login btn-sm">Найти</button></p>
                    <a href="{% url "users:stat" %}"><button type="button" class="btn btn-secondary btn-sm">
                        Сбросить фильтр
                    </button></a>
                </form>
            </div>
        </div>
            
        <div class="row">
            <div class="col-3"></div>
            <div class="col-9">
                {{chart1|safe}}
            </div>
        </div>
        <div class="row" style="margin-top: 50px">
            <div class="col-5"></div>
            <div class="col-5  text-end">
                {{chart|safe}}  
            </div>
            <div class="col-2"></div>
        </div>
        <div class="row" style="margin-top: 150px">
            <div class="col-3"></div>
            <div class="col-9 color-white text-center fixed-font-size">
                <h1 class="mb-5 text-center" id="currentMonth"></h1>
                <script>
                    let months = ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'];
                    let date = new Date();
                    let currentMonth = months[date.getMonth()];
                    document.getElementById('currentMonth').innerHTML = `Статистика расходов за ${currentMonth}`;
                </script>
                {% if request.user.buying %}
                <div class="acor-container text-center">
                    {% for r in rec %}
                    <input type="checkbox" name="chacor" id="{{r|first}}" checked="checked" />
                    <label for="{{r|first}}">
                        <h5 class="text-center">{{r|first}}</h5>
                        <p class="text-start" style="font-size: 16px; color: #dfb68c">{{r|last}}% от дохода</p>
                    </label>
                    <div class="acor-body">
                        <p>{{r|slice:"1:2"|first}}</p>
                    </div>
                    {% endfor %}                  
                {% else %}
                        <h5 class="text-center color-white text-uppercase">Пока записей нет</h5>
                {% endif %}
                    
            </div>
        </div>
    </div>
</section>

{% endblock content %}




