{% extends "base.html" %}
{% load static %}


{% block content %}

{% if user.wallet %}
<section class="about">
    <div class="container">
        <div class="row text-center" style="margin-bottom: 50px">
            <div class="col-12">
                <p><a href="{% url "add_record" %}" class="btn btn-login btn-sm" >Добавить запись</a></p>
            </div>
        </div>
        {% if expenses != 0 %}
        <div class="row text-center" style="margin-bottom: 50px">
            <div class="col-9">
                <p id ="table_id"></p>
                <form class="d-flex" role="search" method="GET">
                    <input class="form-control me-2" type="text" placeholder="Поиск: описание/категория/сумма" aria-label="Поиск" name="q">
                    <a href="{% url "users:wallet" %}"><button class="btn btn-login" type="submit">Поиск</button></a>
                </form>
            </div>
        
            <div class="col-3"> 
                <p></p>
                <div class="accordion accordion-lg" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            Фильтр
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p class="accordion-p"><strong><a href="" data-bs-toggle="modal" data-bs-target="#sum">Сумма</a></p></strong>
                                <p class="accordion-p"><strong><a href="" data-bs-toggle="modal" data-bs-target="#cat">Категория</a></p></strong>
                                <p class="accordion-p"><strong><a href="" data-bs-toggle="modal" data-bs-target="#date">Дата</a></p></strong>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
        <div class="modal fade" id="sum" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Фильтр по сумме</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="" method="GET" class="text-center">
                            <div class='form-error'>{{ filter_form.non_field_errors }}</div>
                            {% for m in filter_form %}
                                <p><label class="form-label" for="{{m.id_for_label}}">{{m.label}}</label>{{m}}</p>
                                <div class="form-error">{{ m.errors }}</div>  
                            {% endfor %} 
                            <p><button type="submit" class="btn btn-login btn-sm">Сохранить</button></p>
                        </form>  
                        <h5>Sum</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="cat" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Фильтр по сумме1</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        {% comment %} <form method="POST" class="text-center">
                            {% csrf_token %} 
                            <div class='form-error'>{{ modal.non_field_errors }}</div>
                            {% for m in modal %}
                                <p><label class="form-label" for="{{m.id_for_label}}">{{m.label}}</label>{{m}}</p>
                                <div class="form-error">{{ m.errors }}</div>  
                            {% endfor %}
                            <p><button type="submit" class="btn btn-login btn-sm">Сохранить</button></p>
                        </form>  {% endcomment %}
                        <h5>cat</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="date" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Фильтр по сумме2</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        {% comment %} <form method="POST" class="text-center">
                            {% csrf_token %} 
                            <div class='form-error'>{{ modal.non_field_errors }}</div>
                            {% for m in modal %}
                                <p><label class="form-label" for="{{m.id_for_label}}">{{m.label}}</label>{{m}}</p>
                                <div class="form-error">{{ m.errors }}</div>  
                            {% endfor %}
                            <p><button type="submit" class="btn btn-login btn-sm">Сохранить</button></p>
                        </form>  {% endcomment %}
                        <h5>date</h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="row text-center">
            <div class="col-12">
                <h5 class="text-center color1 mb-5">Расходы по результатам поиска: {{search_expenses}} руб.</h5>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-12">
                <table class="table table-primary table-hover table_block" id="1">
                    <thead class="table-warning">
                        <tr>
                            <th scope="col" style="text-align: center">Описание</th>
                            <th scope="col" style="text-align: center">Категория</th>
                            <th scope="col" style="text-align: center">Сумма</th>
                            <th scope="col" style="text-align: center">Дата и время</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for rec in record %}
                        <tr>
                            <td style="text-align: center">{{ rec.title }}</td>
                            <td style="text-align: center">{{ rec.categories }}</td>
                            <td style="text-align: center">{{ rec.amount }}</td>
                            <td style="text-align: center">{{ rec.time_create }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <nav class="about">
                    <ul class="pagination justify-content-center ul-pag">
                        {% if record.has_previous %}
                            <li class="page-item">
                            <a class="page-link" href="?page={{record.previous_page_number}}#table_id">Предыдущая</a>
                        {% else %}
                            <li class="page-item disabled">
                            <a class="page-link">Предыдущая</a>
                        {% endif %}
                            </li>
                        {% for page in record.paginator.page_range %}
                            {% if record.number == page %}
                                <li class="page-item active"><a class="page-link" href="?page={{page}}#table_id">{{ page }}</a></li>
                            {% else %}
                                <li class="page-item"><a class="page-link" href="?page={{page}}#table_id">{{ page }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if record.has_next %}
                            <li class="page-item">
                            <a class="page-link" href="?page={{record.next_page_number}}#table_id">Следующая</a>
                        {% else %}
                            <li class="page-item disabled">
                            <a class="page-link">Следующая</a>
                        {% endif %}
                            </li>
                    </ul>
                </nav>
            </div>
        </div>
        {% else %}
        <div class="row text-center">
            <div class="col-12">
                <h1 class="text-center color1 text-uppercase">Пока записей нет</h1>
            </div>
        </div>
        {% endif %}
    </div>
</section>
{% endif %}

<section class="about">
    <div class="container">
        {% if user.wallet %}
            <div class="row text-center">
                <div class="col-12">
                    {% if user.wallet.revenues %}
                        <h5 class="text-center color1 mb-5">Доход: {{user.wallet.revenues}} руб.</h5>
                    {% else %}
                        <h5 class="text-center color1 mb-5">Доход: 0 руб.</h5>
                    {% endif %}

                    <!-- Modal button -->
                    <button type="button" class="btn btn-login btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Изменить
                    </button>

                    <div class="line"></div>
                        
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Изменение дохода</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form method="POST" class="text-center">
                                        {% csrf_token %} 
                                        <div class='form-error'>{{ change_form.non_field_errors }}</div>
                                        {% for m in change_form %}
                                            <p><label class="form-label" for="{{m.id_for_label}}">{{m.label}}</label>{{m}}</p>
                                            <div class="form-error">{{ m.errors }}</div>  
                                        {% endfor %}
                                        <p><button type="submit" class="btn btn-login btn-sm">Сохранить</button></p>
                                    </form> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12" style="margin-bottom: 100px">
                        <h5 class="text-center color1 mt-3">Общие расходы: {{expenses}} руб.</h5>
                </div>
            </div>
        {% else %}
            <p class="text-center"><a href="{% url "users:create_wallet" %}" class="btn btn-login btn-sm" >Создать кошелёк</a></p>
        {% endif %}        
    </div>
</section>

{% endblock content %}

