{% extends "base.html" %}
{% load static %}


{% block content %}

{% if user.wallet %}
<section class="about d-flex min-vh-100">
    <div class="container mt-auto mb-auto">
        <div class="row text-center" style="margin-bottom: 50px">
            <div class="col-3"></div>
            <div class="col-9">
                {% if messages %}
                    <div class="alert alert-dismissible" role="alert">
                        {% for message in messages %}
                            <div class="alert text-center alert-{{ message.tags }}">{{ message }}</div>
                        {% endfor %}
                    </div>
                {% endif %}
                <p><a href="{% url "add_record" %}" class="btn btn-login btn-sm" >Добавить запись</a></p>
            </div>
        </div>
        {% if expenses != 0 %}
        <div class="row text-center" style="margin-bottom: 50px">
            <div class="col-3"></div>
            <div class="col-7">
                
                <form class="d-flex" role="search" method="GET">
                    <input class="form-control me-2" type="text" placeholder="Поиск: описание/категория/сумма" aria-label="Поиск" name="q">
                    <a href="{% url "users:wallet" %}?"><button class="btn btn-login" type="submit">Поиск</button></a>
                </form>
            </div>
        
            <div class="col-2"> 
                <p></p>
                <button type="button" class="btn btn-login" data-bs-toggle="modal" data-bs-target="#filter">
                    Фильтр
                </button>
                <p></p>
                <a href="{% url "users:wallet" %}?"><button type="button" class="btn btn-secondary btn-sm">
                    Сбросить фильтр
                </button></a>
            </div>

            <div class="modal fade" id="filter" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Фильтр</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="" method="GET" class="text-center">
                                <div class='form-error'>{{ filter_form.non_field_errors }}</div>
                                {% for m in filter_form %}
                                    <p><label class="form-label" for="{{m.id_for_label}}">{{m.label}}</label>{{m}}</p>
                                    <div class="form-error">{{ m.errors }}</div>  
                                {% endfor %}  
                                <p><button type="submit" class="btn btn-login btn-sm">Сохранить</button></p>
                            </form>  
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row text-center">
            <div class="col-3"></div>
            <div class="col-9">
                <h5 class="text-center color-white mb-5">Расходы по результатам поиска: {{search_expenses}} руб.</h5>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-3"></div>
            <div class="col-9">
                <table class="table table-light table-hover">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col" style="text-align: center">Описание</th>
                            <th scope="col" style="text-align: center">Категория</th>
                            <th scope="col" style="text-align: center">Сумма</th>
                            <th scope="col" style="text-align: center">Дата и время</th>
                            <th scope="col" style="text-align: center">
                                <button type="submit" class="btn btn-secondary btn-sm" form="delete_form">
                                    Удалить
                                </button>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <form action="{% url "users:delete_record" %}" method="POST" id="delete_form">
                        {% csrf_token %}
                        {% for rec in record %}
                        <tr>
                            {% for r in rec|slice:":4" %}
                            <td style="text-align: center">{{ r }}</td>
                            {% endfor %}
                            <td style="text-align: center">
                                <label>
                                    <input type="checkbox" name="delete" value="{{rec|last}}">
                                </label>
                            </td>
                        </tr>
                        {% endfor %}
                        </form>
                    </tbody>
                </table>

                <nav class="about">
                    <ul class="pagination justify-content-center ul-pag">
                        {% if record.has_previous %}
                            <li class="page-item">
                            <a class="page-link" href="{{request.path}}?{{query_string}}&page={{record.previous_page_number}}#table_id">Предыдущая</a>
                        {% else %}
                            <li class="page-item disabled">
                            <a class="page-link">Предыдущая</a>
                        {% endif %}
                            </li>
                        {% for page in record.paginator.page_range %}
                            {% if record.number == page %}
                                <li class="page-item active"><a class="page-link" href="{{request.path}}?{{query_string}}&page={{page}}#table_id">{{ page }}</a></li>
                            {% else %}
                                <li class="page-item"><a class="page-link" href="{{request.path}}?{{query_string}}&page={{page}}#table_id">{{ page }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if record.has_next %}
                            <li class="page-item">
                            <a class="page-link" href="{{request.path}}?{{query_string}}&page={{record.next_page_number}}#table_id">Следующая</a>
                        {% else %}
                            <li class="page-item disabled">
                            <a class="page-link">Следующая</a>
                        {% endif %}
                            </li>
                    </ul>
                </nav>
            </div>
        </div>
        {% else %}
        <div class="row text-center">
            <div class="col-3"></div>
            <div class="col-9">
                <h1 class="text-center color-white text-uppercase">Пока записей нет</h1>
            </div>
        </div>
        {% endif %}
    </div>
</section>
{% endif %}

{% if user.wallet %}
<section class="about">
    <div class="container">
        <div class="row text-center">
            <div class="col-3"></div>
            <div class="col-9">
                {% if user.wallet.revenues %}
                    <h5 class="text-center color-white mb-5">Ежемесячный доход: {{user.wallet.revenues}} руб.</h5>
                {% else %}
                    <h5 class="text-center color-white mb-5">Ежемесячный доход: 0 руб.</h5>
                {% endif %}

                <!-- Modal button -->
                <button type="button" class="btn btn-login btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Изменить
                </button>

                <div class="line"></div>
                    
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Изменение дохода</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form method="POST" class="text-center">
                                    {% csrf_token %} 
                                    <div class='form-error'>{{ change_form.non_field_errors }}</div>
                                    {% for m in change_form %}
                                        <p><label class="form-label" for="{{m.id_for_label}}">{{m.label}}</label>{{m}}</p>
                                        <div class="form-error">{{ m.errors }}</div>  
                                    {% endfor %}
                                    <p><button type="submit" class="btn btn-login btn-sm">Сохранить</button></p>
                                </form> 
                            </div>
                        </div>
                    </div>
                </div>

                <div  style="margin-bottom: 100px">
                    <h5 class="text-center color-white mt-3">Ежемесячные расходы: {{expenses}} руб.</h5>
                </div>
            </div>
        </div>
    </div>
</section>
{% else %}
<section class="about d-flex min-vh-100">
    <div class="container mt-auto mb-auto">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-9">
                {% if messages %}
                    <div class="alert alert-dismissible" role="alert">
                        {% for message in messages %}
                            <div class="alert text-center alert-{{ message.tags }}">{{ message }}</div>
                        {% endfor %}
                    </div>
                {% endif %}
                <p class="text-center"><a href="{% url "users:create_wallet" %}" class="btn btn-login btn-sm" >Создать кошелёк</a></p>
            </div>
        </div>
    </div>
</section>       
{% endif %}  

{% endblock content %}

