{% load static %}
<!DOCTYPE html>

<html>
<head>
    <link rel="shortcut icon" href="{% static "img/favicon.ico" %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/fontello.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <meta content="width=1180" name="viewport" id="viewport">

    <script src="{% static 'bootstrap/js/bootstrap.min.js'%}"></script>
    <script defer src="{% static 'js/jquery-3.7.0.min.js'%}"></script>
    <script defer src="{% static 'js/script.js'%}"></script>
    <script type="module" src="https://cdn.jsdelivr.net/npm/@bufferhead/nightowl@0.0.14/dist/nightowl.js"></script>

    <title> {{title}} </title>
</head>
<body>
    <header style="position: sticky; top: 0%;">
        <script type="module">
            import { createNightowl } from '@bufferhead/nightowl'
        
            createNightowl({
                defaultMode: 'dark',
                toggleButtonMode: 'newState'
            })
        </script>

        <nav class="header">
            <div class="container-fluid">
            <a class="navbar-brand" href="{% url "home" %}">
                <img src="{% static "img/favicon.ico" %}" alt="Bootstrap" width="40" height="40">
                SELF ACCOUNTANT
              </a>
            </div>
          </nav>
    </header>
    <div class="row">
        <div class="col-3">
            <nav id="menu" role="navigation">
                <ul style="position: sticky; top: 20%;">
                    {% for m in header %}
                        <li class="nav-item">
                            {% url m.url_name as url %}
                            {% if request.path == url %}
                                <a class="nav-link active" aria-current="page" href="{{url}}">{{m.title}}</a>
                            {% else %}
                                <a class="nav-link" aria-current="page" href="{{url}}">{{m.title}}</a>
                            {% endif %}
                        </li>
                    {% endfor %}
        
                </ul>
            
                <ul style="position: sticky; top: 75%;">
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            {% url "users:profile" as url %}
                            {% if request.path == url %}
                                <a href="{{url}}" class="nav-link active" aria-current="page">Профиль</a>
                            {% else %}
                                <a href="{{url}}" class="nav-link" aria-current="page">Профиль</a>
                            {% endif %}
                        </li>
                        <li class="nav-item">
                            <a href="{% url "users:logout" %}" class="nav-link" aria-current="page">Выйти</a>                     
                        </li>
                    {% else %}
                        <li class="nav-item">
                            {% url "users:login" as url %}
                            {% if request.path == url %}
                                <a href="{{url}}" class="nav-link active" aria-current="page">Войти</a>
                            {% else %}
                                <a href="{{url}}" class="nav-link" aria-current="page">Войти</a>
                            {% endif %}
                        </li>
                        <li class="nav-item">
                            {% url "users:register" as url %}
                            {% if request.path == url %}
                                <a href="{{url}}" class="nav-link active" aria-current="page">Регистрация</a>
                            {% else %}
                                <a href="{{url}}" class="nav-link" aria-current="page">Регистрация</a>
                            {% endif %}
                        </li>
                    {% endif %} 
                </ul>
            </nav>
        </div>
    </div>



{% block content %} 

{% endblock content %}  


    <footer>
        <div class="row">
            <div class="col-3"></div>
            <div class="col-9">
                <ul class="nav justify-content-center  pb-3 mb-3" style="color: white">
                    {% for m in footer %}
                    <li class="nav-item">
                        <a class="a-footer" href={{ m.url_name }}>{{m.title}}</a>
                    </li>
                    {% endfor %}
                </ul>
                <div class="line"></div>
                <p class="text-center" style="color: color-white">&copy; 2024 self accountant</p>
            </div>
        </div>
    </footer>

   
</body>
</html>